@import "tailwindcss";

@theme {
  --color-primary: #06113C;
  --color-primary-light: #1B1B3A;
  --color-primary-dark: #01021A;
  --color-accent: #06113C;
  --color-light-gray: #f4f7fa;
}

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #06113C;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}